.text-center
  .well
    %h4 What is on your mind?
    %p.text-error
    .input-group
      %input#userComment.form-control.input-sm.chat-input{ ppt: @presentation.id, :placeholder => "Write your message here...", :type => "text"}/
      %span.btn-comment.input-group-btn{ ppt: @presentation.id }
        %a.btn.btn-primary.btn-sm{:href => "#"}
          %span.glyphicon.glyphicon-comment
          Add Comment
    %hr{"data-brackets-id" => "12673"}/
    %ul#sortable.list-unstyled.ui-sortable{"data-brackets-id" => "12674"}
      - @presentation.comments.order("created_at DESC").each do |comm|
        %strong.pull-left.primary-font
          = image_tag comm.user.avatar.url, style: "width: 24px; height: 24px; "
          = link_to comm.user.user_name.humanize, profiles_show_path(user_name: comm.user.user_name)
        %small.pull-right.text-muted
          %span.glyphicon.glyphicon-time
          = time_ago_in_words(comm.created_at)
        %li.ui-state-default= comm.content
        %hr{"data-brackets-id" => "12673"}/
    
      
      
      