.container-scroll{ style: "padding: 0px 30px;"}
  .row
    #presentation.col-md-8
      = render "live_slides"
    #buttons-line.col-md-5{ style: "padding: 12px 0px;"}
      = render "buttons_line"

    #postcomment.col-md-5
      = render "post_comments"

  
        
= content_for :scripts do
  :javascript
    $(function(){
      Reveal.initialize({
        progress: false,
        showNotes: true,
        loop: true,
        transition: 'slide|fade',
        transitionSpeed: 'fast'
      });
      
      
      
      //fade effect for navigator control just only for web
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
          console.log("access from mobile")
      } else {
        $(".controls").fadeOut(); // default hide the control
        $("div#presentation")
          .mouseenter(function(){
            $(".controls").fadeIn();
        }).mouseleave(function(){
            $(".controls").fadeOut();
        });
        console.log("access from web")
      }
      

    });