.container-scroll
  .row
    #presentation.col-md-8
      = render "live_slides"
    #buttons-line.col-md-5{ style: "padding: 12px 0px;"}
      = render "buttons_line"

    #postcomment.col-md-5
      = render "post_comments"

  
        
= content_for :scripts do
  :javascript
    $(function(){
      Reveal.initialize({
        progress: false,
        showNotes: true,
        loop: true,
        transition: 'slide|fade',
        transitionSpeed: 'fast'
      });
      


      //fade effect for navigator control
      $(".well").mouseover(function(){
          $(".well").mouseenter(function(){
            $(".controls").fadeOut();
          });
      
          $(".well").mouseout(function(){
            $(".controls").fadeIn();
          });
      });
    });