#presentation {
  padding: 0px 0px;
  background: #ababab;
  height: 640px;
  width: 640px;
  font-size: 20px;
  
  .reveal { 
    .controls { left: 22%; top: 50%;} 
    .speaker-notes {  
        max-height: 30%; 
        height: 50px; 
        width: 100%; 
        left: 0px; 
        text-align: center; 
        bottom: 0px}
    .slide-number {
        background: orange;
        top: 70px;
        right: 98%;
        left: 10px;
        width: 40px;
        height: 20px;
    }
    .navigate-up, .navigate-down, .navigate-left {
      display: none;
    }
/*    .navigate-left { border-right-color: green;  left: 30px; }*/
    .navigate-right { border-left-color: orange;}    
    
  }

  section { img { max-width: 100%; max-height: 100%;}}
  
}
@media only screen and (max-width: 500px) {
    #presentation {
      height: 50%;
      margin-bottom: 20px;
      .reveal { .controls { left: 30%; top: 30% } }
    }
    
    #postcomment {   overflow-y: auto;height: 50%; position: relative;}
}




#postcomment {
  overflow-y: auto;
  height: 80%;
  position: relative;
  .text-error { color: red; }
  
  li.ui-state-default{
      background:#fff0;
      border:none;
      text-align: left;
      padding: 25px 0px 0px 0;
  }

  li.ui-state-default:last-child{
      border-bottom:none;
  }

  @import url(http://fonts.googleapis.com/css?family=Roboto:400);
  body {
    background-color:#fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
  }

  .btn,.form-control,.well {
      border-radius:1px;
      box-shadow:0 0 0;
  }

  .form-control {
      border-color:#d7d7d7;
  }

  .btn-primary {
      border-color:transparent;
  }

  .btn-primary, .list-group-item.active:focus {
      background-color:#4285f4;
  } 

  .btn-plus {
      background-color:#ffffff;
      border-width:1px;
      border-color:#dddddd;
      box-shadow:1px 1px 0 #999999;
      border-radius:3px;color:#666666;
      text-shadow:0 0 1px #bbbbbb;
  }

  .well,.panel {
      border-color:#d2d2d2;
      box-shadow:0 1px 0 #cfcfcf;
      border-radius:3px;
  }

  hr {
   border-color:#ececec;
  }

  button {
   outline: 0;
  }

  .btn span{
   color:#666666;
  }

  .list-group-item:first-child,.list-group-item:last-child {
   border-radius:0;
  }

  h3 { 
   border:0 solid #efefef; 
   border-bottom-width:1px;
   padding-bottom:10px;
  }
}